* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

.main{
    
    background-image: url('img/marius-matuschzik-5i3Y_IOvUYY-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


